<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Contact</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<nav>

<div class="logo">🌾 OptiCrop</div>

<ul>

<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/predict">Predict</a></li>
<li><a href="/dashboard">Dashboard</a></li>
<li><a href="/history">History</a></li>

</ul>

</nav>

<div class="dashboard">

<h1>Contact Us</h1>

<div class="card">

<h2>🌾 OptiCrop</h2>

<p>Email : opticrop@gmail.com</p>

<p>Phone : +91 9876543210</p>

<p>Location : Andhra Pradesh, India</p>

<p>Developed Using Flask & Machine Learning</p>

</div>

</div>

</body>

</html>